language: ruby
sudo: false
rvm:
- 2.2.7
script:
- bundle exec rake test
# - bundle exec rake lint
deploy:
  provider: rubygems
  api_key:
    secure: "bD+0aMo9/eWZOtRNUb1rm2mmKZtjCm2ev51jhQ4DwvPrjzVGZ9nZSkNgAaN4mfiTt3LGdrTa/P3eK4W7YPCZ2ajz/rPsWxAR730nSULr/q/rRhkeqts+qhAquV4xADXzDBIQVT30kfsWiDFRDlBO7m1UyZWhv9XNWKkYwDukKh9EuRHGg+vA/mneTMs1Yl7CDcy/x3uUNv4vPviEmsgTpJPihmXYO2/HdiShbhzgapBBp2uzqvmhNpIcKuPhxUxLKueTSy/DFFMDUWKwW5F1/3bVmroNYhB3SvqjhubT5Feg4iQgzzIEQBg6jz1FdHTUdah3Zhw4ro6FBHyrgGSYaJU+zHkGKuqWi1g3VXjNBWqRDcQ728JcRMM/tkZDqrVWykOoSx1zSfJN0Uj1K7UVlY+jRrdCbjpDUcN38ubGzqkjJTB+2Hx3eZnIM1aqA00j7Yrp666achuMQwKl1czpLC/voC69gda06INAOqIQOUmWi2wGFIlyTUGt+hANgrPT3cA+lglqFB3pX76CgOY27As6tIQiRptGnCV153qnEvY4SSbChdse39cAjq1hbMa4XdbTyGEHGeLPG90ffB8EZCJJLV009nQx5hJPOnxhS579T3ZHdqT9ObhCR8fpsls3LZGJsmDPn50Agua6xkkc0JFBUt9AYFnh9TXnpNcZ6eA="
  gem: rudash
  on:
    repo: Attrash-Islam/rudash
